body {
  background-image: url('background.jpeg');
  background-size: cover;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.list {
  border: solid 2px;
  width: 100px;
  height: 100px;
  text-align: center;
  background: black;
  opacity: 0.8;
}
.list h3 {
  color: white;
  font-size: larger;
  font-weight: bolder;
}
.list p {
  color: yellow;
}

.playing {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 1rem #ffc600;
}
